
<div class="navButton">
    <form>
        <input type="text" id="jtSearching" name="jtSearching" placeholder="....." class="textBoxStyle" />
        <button type="submit" id="LoadRecordsButton" class="buttonStyle">ค้นหา</button>
     </form>
</div>

<div id="tbLists">
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $(function () {
            $('#jtSearching').autocomplete({
                source: '@Url.Action("Search")',
                minLength: 1,
                select: function (event, ui) { LoadData(); }
            });
        });

        LoadData();
    });

    function LoadData() {
        $('#tbLists').jtable({
            title: 'รายชื่อศูนย์ประกัน',
            paging: true,
            pageSize: 10,
            sorting: true,
            defaultSorting: '',
            actions: {
                listAction: '@Url.Action("Lists")',
                deleteAction: '@Url.Action("Delete")',
                updateAction: '@Url.Action("Edit")',
                createAction: '@Url.Action("Create")'
            },
            fields: {
                kInsuranceId: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                vFullName: {
                    width: '30%',
                    create: false,
                    edit: false,
                    title: 'ชื่อบริษัท'
                },
                sInsuranceName: {
                    width: '20%',
                    list: false,
                    inputClass: 'validate[required]',
                    title: 'ชื่อศูนย์ประกัน'
                },
                sAddress1: {
                    title: 'ที่อยู่',
                    type: 'textarea',
                    list: false
                },
                sCity: {
                    title: 'จังหวัด',
                    list: false
                },
                sZip: {
                    title: 'รหัสไปรษณีย์',
                    inputClass: 'validate[custom[integer]]',
                    list: false
                },
                sPhone: {
                    title: 'โทรศัพท์',
                    inputClass: 'validate[custom[phone]]'
                },
                sMobile: {
                    title: 'มือถือ',
                    inputClass: 'validate[custom[phone]]',
                    list: false
                },
                sFax: {
                    title: 'แฟกซ์',
                    inputClass: 'validate[custom[phone]]'
                },
                sEmailAddress: {
                    title: 'อีเมล',
                    inputClass: 'validate[custom[email]]'
                },
                IsAgent: {
                    title: 'เป็นตัวแทน',
                    type: 'checkbox',
                    values: { 'false': 'ไม่ใช่', 'true': 'ใช่' },
                    defaultValue: 'false',
                    listClass: 'child-opener-image-column',
                    display: function (data) {
                        var qc = data.record.IsAgent;
                        var $img = $('<img class="child-opener-image" src=""  />');

                        if (qc) {
                            $img = $('<img class="child-opener-image" src="/Images/tick.png" title="ใช่"  />');
                        }

                        return $img;
                    }
                }
            },
            formCreated: function (event, data) {
                //not emplement yet
            },
            formSubmitting: function (event, data) {
                return data.form.validationEngine('validate');
            },
            formClosed: function (event, data) {
                data.form.validationEngine('hide');
                data.form.validationEngine('detach');
                //$('#LoadRecordsButton').click();
            }
        });

        //Re-load records when user click 'load records' button.
        $('#LoadRecordsButton').click(function (e) {
            e.preventDefault();
            $('#tbLists').jtable('load', {
                jtSearching: $('#jtSearching').val()
            });
        });

        //Load all records when page is first shown
        $('#LoadRecordsButton').click();
    }
</script>
