@model GH.Web.Models.ApplicationHeaderViewModel
<script type="text/javascript">
    $(document).ready(function () {
        $("#form").validationEngine('attach');
    });
</script>       
<style>
.form div.left {
    float: left;
    text-align:right;
    width: 15%;
   
}
</style> 
<div id="block-tables" class="block">
<div class="content">
<div class="inner">          
@using (Html.BeginForm("UserPassword", "AppSetting", FormMethod.Post, new { @class = "form", @id = "form" }))
{
    <div class="group wat-cf">
		<div class="left">
			@Html.LabelFor(model => model.User.UserName, new { @class = "label" })
		</div>
		<div class="right">
			@Html.TextBoxFor(model => model.User.UserName, new { @style = "background-color:#ccc", @readonly = "readonly", @class = "textBoxStyle" })
		</div>
	</div>
	<div class="group wat-cf">
		<div class="left">
			@Html.LabelFor(model => model.User.OldPassword, new { @class = "label" })
		</div>
		<div class="right">
			@Html.PasswordFor(model => model.User.OldPassword, new { @class = "textBoxStyle" })
		</div>
	</div>
	<div class="group wat-cf">
		<div class="left">
			@Html.LabelFor(model => model.User.NewPassword, new { @class = "label" })
		</div>
		<div class="right">
			@Html.PasswordFor(model => model.User.NewPassword, new { @class = "textBoxStyle" })
		</div>
	</div>
    <div class="group wat-cf">
		<div class="left">
			@Html.LabelFor(model => model.User.ConfirmPassword, new { @class = "label" })
		</div>
		<div class="right">
			@Html.PasswordFor(model => model.User.ConfirmPassword, new { @class = "textBoxStyle" })
		</div>
	</div>
	<div class="group navform wat-cf">
		<div class="right">
			<button class="button" type="submit">
			<img src="@Url.Content("~/images/icons/tick.png")" alt="Save" />
			Save
			</button>
            <p>@Html.ValidationSummary(true, string.Empty, new { @class = "message error" })</p>
		</div>
	</div>
}

</div>
</div>
</div>