
<div class="navButton">
    <form>
        <input type="text" id="jtSearching" name="jtSearching" placeholder="....." class="textBoxStyle" />
        <button type="submit" id="LoadRecordsButton" class="buttonStyle">ค้นหา</button>
     </form>
</div>

<div id="tbLists">
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $(function () {
            $('#jtSearching').autocomplete({
                source: '@Url.Action("Search")',
                minLength: 1,
                select: function (event, ui) { LoadData(); }
            });
        });

        LoadData();
    });

    function LoadData() {
        $('#tbLists').jtable({
            title: 'รายการสินค้า',
            paging: true,
            pageSize: 10,
            sorting: true,
            defaultSorting: '',
            actions: {
                listAction: '@Url.Action("Lists")',
                deleteAction: '@Url.Action("Delete")',
                updateAction: '@Url.Action("Edit")',
                createAction: '@Url.Action("Create")'
            },
            fields: {
                kProductId: {
                    key: true,
                    create: false,
                    edit: false,
                    list: false
                },
                sProductName: {
                    width: '30%',
                    title: 'ชื่อสินค้า',
                    inputClass: 'validate[required]'
                },
                sProductModel: {
                    title: 'รุ่น'
                },
                kBrandId: {
                    title: 'ยี่ห้อ',
                    list: false,
                    options: '@Url.Action("GetAll","Brand")'
                },
                kProductTypeId: {
                    title: 'ประเภทสินค้า',
                    list: false,
                    options: '@Url.Action("GetAll","ProductType")'
                },
                vBrandDescription: {
                    title: 'ยี่ห้อ',
                    create: false,
                    edit: false
                },
                vProductTypeDescription: {
                    title: 'ประเภท',
                    create: false,
                    edit: false
                }

            },
            formCreated: function (event, data) { 
                //not emplement yet
            },
            formSubmitting: function (event, data) {
                return data.form.validationEngine('validate');
            },
            formClosed: function (event, data) {
                data.form.validationEngine('hide');
                data.form.validationEngine('detach');
            }
        });

        //Re-load records when user click 'load records' button.
        $('#LoadRecordsButton').click(function (e) {
            e.preventDefault();
            $('#tbLists').jtable('load', {
                jtSearching: $('#jtSearching').val()
            });
        });

        //Load all records when page is first shown
        $('#LoadRecordsButton').click();
    }
</script>
